.inline {
	display:inline-block;
}

h1 {
  text-align: center;
  color: red;
  font-size: 50px;
}

h2 {
  font-size:30px;
  text-align: center;
  
}
.datum {
display:inline-block;

}

.matchup {
	
display:inline-block;
}

.result
{
display:inline-block;
}
